{% extends 'base.html' %}
{% load static %}

{% block title %}
    SID-Predict
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/predict.css' %}">
{% endblock %}

{% block content %}
    <!-- choose files -->

    <form method="post" action="" enctype="multipart/form-data">
        {%csrf_token%}
        <section class="pt-5">
        <div class="container pt-5">
            <h4>You are using <span class="badge bg-secondary">Process Part</span></h4>
            <div class="mb-3">
                <label for="formFile" class="form-label">Choose a .hdf file and you will obtain related .png files:</label>
                <input class="form-control" type="file" name="hdf" id="formFile">
                <button type="submit" class="btn btn-primary mt-3">
                    <i class="bi bi-arrow-repeat"></i> Transform
                </button>
            </div>
        </div>
        </section>
    </form>

    {% if error %}
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
          <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </symbol>
        </svg>
        <div class="container pt-5">
            <div class="alert alert-danger d-flex align-items-center" role="alert">
              <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
              <div>
                The input should be .hdf file.
              </div>
            </div>
        </div>
    {% endif %}




    <!-- footer -->
    <footer class="p-5 text-dark text-center ">
        <div class="container">
            <p class="lead">Copyright &copy; HITsz ICES Lab</p>
        </div>
    </footer>

{% endblock %}